<br><span style="font-style: italic">filters=field_identified_taxonomy_dim$scientific_name=Eopsetta%20jordani,date_dim$year>=2010,date_dim$year<=2012</span><br><br>
<p>
Simple filtering may be performed by specifying the name of a data set variable as a URL query parameter.</p>
<p>
<span style="font-style: italic">api/v1/source/{source_id}/selection.json?{fieldName1=value1}</span>
</p>
<p>
<span style="font-style: italic">api/v1/source/{source_id}/selection.json?{fieldName1=value1}&{fieldName2=value2} ... &{fieldNameN=valueN}
</span>
</p>

Simple union (OR) selection filtering, within a single data set variable, may be performed by specifying two or more comma-separated values.

api/v1/source/{source_id}/selection.json?{fieldName1=value1,value2}<br>
api/v1/source/{source_id}/selection.json?{fieldName1=value1}&{fieldName2=value2.0,value2.1} ... &{fieldNameN=valueN}<br><br>

<h5>Advanced Filtering</h5><br>

The selection may be filtered by specifying a filters URL query parameter defining one or more comma-delimited filtering statements. A filter may reference any data set variable, even a variable not included in the requested subset e.g.: ?variables=pacfin_code,common_name&filters=season_year=2012;<br>

api/v1/source/{source_id}/selection.json?filters={name1=value1}<br>
api/v1/source/{source_id}/selection.json?filters={name1=value1},{name2=value2} ... ,{nameN=valueN}<br><br>

<h5>Supported Filter Operations</h5>
<table class="table table-striped" style="width:400px">
  <tr><td>{variable} = {value}</td></tr>
  <tr><td>{variable} > {value}</td></tr>
  <tr><td>{variable} < {value}</td></tr>
  <tr><td>{variable} >= {value}</td></tr>
  <tr><td>{variable} <= {value}</td></tr>
  <tr><td>{variable} != {value}</td></tr>
  <tr><td>{variable} ~= {value}</td></tr>
  <tr><td>{variable} |= {value}</td></tr>
</table>
<br>
'~=' provides Regular Expression matching e.g.:<br>
filters=MyFieldName~=321 - matches any occurence of '321' in the field's text <br>
filters=MyFieldName~=^321$ matches any row with exactly value '321' in the field <br>
filters=MyFieldName~=^(321)|(987)$ matches any row with exactly value '321' in the field or value '987' <br><br>
'|=' provides OR matching with robust type support, via an urlencoded-comma (%2C) separated list of quoted string values enclosed in square brackets e.g.:<br>
_filters=MyFieldName|=["321"] - matches any record with exactly a value of 321 (converted from a string, into the type of the field).<br>
_filters=MyFieldName|=["321"%2C"987"] - matches any records with an exact value of either 321 or 987.<br><br>

<h5>Select Empty Cells</h5>

Selection implementation defaults to suppression of empty cells which would result from the intersection of two Dimensional values (e.g.: Longitude and Depth) for which there is no measured value. To obtain a data set selection with all possible values for one or more Dimensions, provide a list of desired dimension names via the empty_cells URL query parameter:<br>

api/v1/source/{source_id}/selection.json?empty_cells={name1}<br>
api/v1/source/{source_id}/selection.json?empty_cells={name1},{name2} ... ,{nameN}<br>
The empty_cells query parameter is not compatible with Dimensional data source selections. Direct selection from a Dimensional data source always returns all possible dimensional values.<br><br>

<h5>Pivot selection</h5>

Pivoted (Crosstab) selection output may be generated by specifiying a pivot_columns URL query parameter.<br>

api/v1/source/{source_id}/selection.json?pivot_columns={name1}<br>
api/v1/source/{source_id}/selection.json?pivot_columns={name1},{name2} ... ,{nameN}<br>
Pivot selection may not be available for some (Dimensional) data sources. Dimensional data sources contain no measured values to pivot over, instead containing only a dictionary or range of possible values defined by a project.<br><br>

Selection output will replace all pivot_columns variables and all data variables with generated pivot-breakdowns for all data variables. Format for the generated pivot column headings is:<br>

{dataVariableName}({aggregationMethodUsed}) {pivotVariable1-Name}({pivotVariable1-Value}) [{pivotVariable2-Name}({pivotVariable2-Value}) ... {pivotVariableN-Name}({pivotVariableN-Value})<br>
The aggregationMethodUsed is automatically determined by the type of dataVariableName <br><br>

'sum' is used for data variables of type: int, float <br>
'count' is used for data variables of type: string, datetime <br><br>

<h5>Data Set Metadata</h5>

A NMFS/FIS InPort XML Format metadata document may be obtained for each data source via URI:<br>

api/v1/source/{source_id}/metadata.xml <br>
For more information on contents & usage, see: <a href="https://inport.nmfs.noaa.gov/inport/help/xml-loader">https://inport.nmfs.noaa.gov/inport/help/xml-loader</a><br><br>

<h5>ISO-19139</h5>

ISO:19139 Geographic MetaData (GMD) formatted metadata may be obtained for each data source via URI:<br>

api/v1/source/{source_id}/metadata.iso <br>
Alternatively ISO metadata may be obtained via OGC Catalog Service - Web (CSW) compatible interface. See OGC Catalog Service for the Web (CSW).<br><br>
