<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top navbar-default">
  <div class="navbar-brand">
    <a class="" style="color:white" href="/docs">
    <img src="/static/NOAA_logo.png" alt="NOAA Logo" style="height:70px" class="logo">
    NWFSC FRAM API</a>
  </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nbt" aria-controls="nbt" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="nbt">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/docs">Docs <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.nwfsc.noaa.gov/data/map">Map</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search">
        </form>
      </div>
    </nav>
