<h1>Overview</h1>
<p>The FRAM Data Warehouse aims to provide a single location where users can access and download all data collected by the NOAA Northwest Fisheries Science Center (NWFSC) Fishery Resource Analysis & Monitoring (FRAM) division.</p>
<p>
  This includes data from the following FRAM programs/surveys:</p>
<ul>
  <li>Acoustics Survey - Integrated Hake Acoustics Survey</li>
  <li>Economics & Social Science Research (ESSR)</li>
  <li>Hook & Line Survey - Southern California Hook & Line Survey</li>
  <li>Marine Habitat Program</li>
  <li>Observer Program - West Coast Groundfish Observer Program (WCGOP)</li>
  <li>Trawl Survey - West Coast Groundfish Bottom Trawl Survey (WCGBTS)</li>
</ul>
<p>Most API calls do not require a login.</p>
